<!DOCTYPE html>
<head>
  <title>Playground</title>
</head>
<body>
  <h1>Playground</h1>

  <hr />

    <h2>Braintree Hosted Fields with Server SDK</h2>
  <div>
    <a href="public/braintree/hosted-fields/sdk/card/index.html"
      >Pay with Card</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/vault-purchase-card/index.html"
      >Vault with Purchase with Card</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/fastlane/index.html"
      >Fastlane</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/paypal/index.html"
      >Pay with PayPal</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/paypal-checkout/index.html"
      >Checkout with PayPal</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/paypal/profile.html"
      >Vault without Purchase with PayPal</a
    >
    <br />
    <a
      href="public/braintree/hosted-fields/sdk/vault-purchase-paypal/index.html"
      >Vault with Purchase with PayPal</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/pay-later/index.html"
      >PayPal Pay Later</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/app-switch/index_new.html"
      >App Switch NEW</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/app-switch/index.html"
      >App Switch</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/refund/index.html">Refund</a>
    <br />
    <a href="public/braintree/hosted-fields/sdk/subscription/index.html"
      >Subscription</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/bancontact/index.html"
      >Bancontact</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/blik/index.html">Blik</a>
    <br />
    <a href="public/braintree/hosted-fields/sdk/eps/index.html">eps</a>
    <br />
    <a href="public/braintree/hosted-fields/sdk/google-pay/index.html"
      >Google Pay</a
    >
    <br />
    <a href="public/braintree/hosted-fields/sdk/grabpay/index.html">Grabpay</a>
    <br />
    <a href="public/braintree/hosted-fields/sdk/ideal/index.html">iDEAL</a>
    <br />
    <a href="public/braintree/hosted-fields/sdk/mybank/index.html">MyBank</a>
    <br />
    <a href="public/braintree/hosted-fields/sdk/przelewy24/index.html"
      >Przelewy24</a
    >
  </div>

  <hr />
<!-- 
  <h2>Braintree Drop-In UI with Server SDK</h2>
  <div>
    <a href="public/braintree/drop-in-ui/sdk/card/index.html">Pay with Card</a>
    <br />
    <a href="public/braintree/drop-in-ui/sdk/3ds/index.html">3DS</a>
    <br />
    <a href="public/braintree/drop-in-ui/sdk/vault-card/index.html"
      >Vault with Card</a
    >
    <br />
    <a href="public/braintree/drop-in-ui/sdk/paypal/index.html"
      >Pay with PayPal</a
    >
    <br />
    <a href="public/braintree/drop-in-ui/sdk/vault-paypal/index.html"
      >Vault with PayPal</a
    >
    <br />
    <a href="public/braintree/drop-in-ui/sdk/refund/index.html">Refund</a>
    <br />
    <a href="public/braintree/drop-in-ui/sdk/subscription/index.html"
      >Subscription</a
    >
    <br />
    <a href="public/braintree/drop-in-ui/sdk/google-pay/index.html"
      >Google Pay</a
    >
  </div>

  <hr /> -->

  <h2>PayPal REST API only</h2>
  <div>
    <a href="public/paypal/api-only/appswitch/index.html">API: One Time Payments App Switch</a>
    <br />
  </div>
  <hr />

<!-- 

  <h2>PayPal JS SDK with REST API</h2>
  <div>
    <a href="public/paypal/js-sdk/rest/paypal/index.html">Pay with PayPal</a>
    <br />
    <a href="public/paypal/js-sdk/rest/paypal-checkout/index.html"
      >Checkout with PayPal</a
    >
    <br />
    <a href="public/paypal/js-sdk/rest/paypal-refund/index.html"
      >Refund with PayPal</a
    >
    <br />
    <a href="public/paypal/js-sdk/rest/vault-no-purchase-paypal/index.html"
      >Vault without Purchase with PayPal</a
    >
    <br />
    <a href="public/paypal/js-sdk/rest/vault-purchase-paypal/index.html"
      >Vault with Purchase with PayPal</a
    >
    <br />
    <a href="public/paypal/js-sdk/rest/pay-later/index.html"
      >PayPal Pay Later</a
    >
    <br />
    <a href="public/paypal/js-sdk/rest/pay-later-api/index.html"
      >PayPal Pay Later Messaging through API</a
    >
    <br />
    <a href="public/paypal/js-sdk/rest/paypal-credit/index.html"
      >PayPal Credit Messaging</a
    >
    <br />
    <a href="public/paypal/js-sdk/rest/app-switch/index.html">App Switch</a>
    <br />
    <a href="public/paypal/js-sdk/rest/subscription/index.html">Subscription</a>
    <br />
    <a href="public/paypal/js-sdk/rest/card/index.html">Pay with Card</a>
    <br />
    <a href="public/paypal/js-sdk/rest/vault-no-purchase-card/index.html">
      Vault without Purchase with Card
    </a>
    <br />
    <a href="public/paypal/js-sdk/rest/vault-purchase-card/index.html"
      >Vault with Purchase with Card</a
    >
    <br />
    <a href="public/paypal/js-sdk/rest/fastlane/index.html">Fastlane</a>
    <br />
    <a href="public/paypal/js-sdk/rest/bancontact/index.html">Bancontact</a>
    <br />
    <a href="public/paypal/js-sdk/rest/blik/index.html">Blik</a>
    <br />
    <a href="public/paypal/js-sdk/rest/eps/index.html">eps</a>
    <br />
    <a href="public/paypal/js-sdk/rest/google-pay/index.html">Google Pay</a>
    <br />
    <a href="public/paypal/js-sdk/rest/mybank/index.html">MyBank</a>
    <br />
    <a href="public/paypal/js-sdk/rest/przelewy24/index.html">Przelewy24</a>
  </div>

  <hr />

  <h2>PayPal JS SDK with Server SDK</h2>
  <div>
    <a href="public/paypal/js-sdk/sdk/paypal/index.html">Pay with PayPal</a>
    <br />
    <a href="public/paypal/js-sdk/sdk/paypal-checkout/index.html"
      >Checkout with PayPal</a
    >
    <br />
    <a href="public/paypal/js-sdk/sdk/pay-later/index.html">PayPal Pay Later</a>
    <br />
    <a href="public/paypal/js-sdk/sdk/paypal-refund/index.html"
      >Refund with PayPal</a
    >
    <br />
    <a href="public/paypal/js-sdk/sdk/card/index.html">Pay with Card</a>
    <br />
    <a href="public/paypal/js-sdk/sdk/bancontact/index.html">Bancontact</a>
  </div>

  <hr />

  <h2>PayPal JS SDK with NVP API</h2>
  <div>
    <a href="public/paypal/js-sdk/nvp/paypal/index.html">Pay with PayPal</a>
    <br />
    <a href="public/paypal/js-sdk/nvp/paypal-checkout/index.html"
      >Checkout with PayPal</a
    >
    <br />
    <a href="public/paypal/js-sdk/nvp/paypal-refund/index.html"
      >Refund with PayPal</a
    >
    <br />
    <a href="public/paypal/js-sdk/nvp/vault-paypal/index.html"
      >Vault with PayPal</a
    >
    <br />
    <a href="public/paypal/js-sdk/nvp/subscription/index.html">Subscription</a>
    <br />
    <a href="public/paypal/js-sdk/nvp/bancontact/index.html">Bancontact</a>
    <br />
    <a href="public/paypal/js-sdk/nvp/blik/index.html">Blik</a>
    <br />
    <a href="public/paypal/js-sdk/nvp/eps/index.html">eps</a>
    <br />
    <a href="public/paypal/js-sdk/nvp/google-pay/index.html">Google Pay</a>
    <br />
    <a href="public/paypal/js-sdk/nvp/mybank/index.html">MyBank</a>
    <br />
    <a href="public/paypal/js-sdk/nvp/przelewy24/index.html">Przelewy24</a>
  </div> -->

  <hr />

</body>
